---
layout: default
---

<!-- Post Details -->
<article class="post">
    <div>{{ content }}</div>


</article>


<!-- Recent and Popular Posts -->
<div class="row">
    <div class="large-6 small-12 columns">
        <ul  class="posts">
        <table>
            {% for post in site.posts %}
               <tr>
                <td>
                  <li>
                    <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
                  </li>
                </td>
                <td>{{ post.date | date_to_string }}</td>
              </tr>
            {% endfor %}
        </table>
      </ul>
    </div>
</div>


